<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
            <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet"  href="">
    </head>
    <body>
      <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div class="sidebar-header">
                    <h3>Hapvida</h3>
                </div>
    
                <ul class="list-unstyled components">
                    <li>
                        <a routerLink="/criar-demanda">Criar Demanda</a>
                    </li>
                    <li>
                        <a routerLink="/atualizar-status">Atualizar Status</a>
                    </li>
                    <li>
                        <a routerLink="/finalizar-cancelar">Finalizar/Cancelar</a>
                    </li>
                    <li>
                      <a routerLink="/alt-recorrencia">Alterar Recorrência</a>
                  </li>
                  <li>
                    <a routerLink="/listar-atividade">Listar Atividades</a>
                </li>
                <li  class="active">
                  <a routerLink="/listar-responsaveis">Listar responsáveis</a>
              </li>
              <li >
                <a routerLink="/dashboard">Dashboard</a>
            </li>
                </ul>
            </nav>
            <!-- Page Content  -->
            <div id="content">
<div class="container">
  <h2>Cadastro de Responsavel</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Filter items ...">
  <br>
  <ul class="list-group" id="myList">
    <li class="list-group-item" *ngFor="let resp of responsavel">{{resp.nmResponsavel}} -{{resp.dsCargo}} - CPF {{resp.nuCgcCpf}}<button type="button" class="btn btn-secondary"> > </button></li>
  </ul>  
</div>
<div class="line"></div>
</div>
</div>
</body>
</html>
